In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from word2number import w2n

In [21]:
df=pd.read_csv("hiring.csv")
df.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [6]:
median=df.test_score.median()
median

8.0

In [22]:
#filling NaN value with median score.
df.test_score=df.test_score.fillna(median)
df.test_score

0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     8.0
7     7.0
Name: test_score, dtype: float64

In [23]:
#filling NaN values of experience with zero
df.experience=df.experience.fillna("zero")
print(df.experience)

0      zero
1      zero
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [28]:
#converting experience in numbers..
df.experience = df.experience.apply(w2n.word_to_num)
df.experience

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: int64

In [30]:
x_train,x_test,y_train,y_test=train_test_split(df[['experience','test_score','interview_score']],df['salary'],test_size=0.2)

In [31]:
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)
print(reg.coef_)
print(reg.intercept_)
print("Model Accuracy:",reg.score(x_train,y_train))

[2873.07891556 2445.6915904  2373.16525643]
10948.540839233305
Model Accuracy: 0.9423831311040047